.job {
    padding-bottom: 94px;

    &__info {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    background: rgba(47, 48, 58, 0.80);
    color: var(--background-color);
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}
}

.job-title {
    color: var(--main-color);
    text-align: center;
    font-size: 36px;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

.job-list {
    display: flex;
    gap: 30px;
    list-style: none;

    &__item {
    position: relative;
    overflow: hidden;
}
}





