.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.project {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style-type: none;

    &__item {
    max-width: 370px;
}

    &__link {
    text-decoration: none;
    display: block;
    transition: box-shadow var(--primary-transition);
}

    &__link:hover,
    &__link:focus {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12)
}

    &__link:hover .overlay {
    transform: translatey(0);
}


    &__name {
    padding: 24px 20px;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

    &__title {
    color: var(--main-color);
    font-family: var(--main-font);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 1.08px;
    margin-bottom: 4px;
}

    &__work {
    color: var(--secondary-color);
    font-family: var(--main-font);
    line-height: 30px;
    letter-spacing: 0.48px;
}
}



.card-box {
    position: relative;
    overflow: hidden;
}


